<template>
    <svg class="mt-1 ml-1" xmlns="http://www.w3.org/2000/svg" width="16.878" height="16.878"
        viewBox="0 0 16.878 16.878">
        <g id="Group_3224" data-name="Group 3224" transform="translate(-216.751 -428.438)">
            <g id="Group_3222" data-name="Group 3222" transform="translate(221.088 432.775)">
                <g id="Group_2576" data-name="Group 2576">
                    <path id="Path_5415" data-name="Path 5415"
                        d="M137.49,129.753h-7.267a.47.47,0,0,0-.469.469v7.267a.47.47,0,0,0,.469.469h7.267a.47.47,0,0,0,.469-.469v-7.267A.47.47,0,0,0,137.49,129.753Zm-.469,7.267h-6.329v-1.758h.938a.469.469,0,1,0,0-.938h-.938v-.938h1.875a.469.469,0,0,0,0-.938h-1.875v-1.758h6.329Z"
                        transform="translate(-129.754 -129.753)" fill="#93b2b2" />
                </g>
            </g>
            <g id="Group_3223" data-name="Group 3223" transform="translate(216.751 428.438)">
                <g id="Group_2578" data-name="Group 2578">
                    <path id="Path_5416" data-name="Path 5416"
                        d="M16.878,7.22a.47.47,0,0,0-.469-.469h-1.5V5.274h1.5a.469.469,0,1,0,0-.938h-1.5V3.329a1.361,1.361,0,0,0-1.36-1.36H12.541V.469a.469.469,0,0,0-.938,0v1.5H10.1V.469a.469.469,0,0,0-.938,0v1.5h-1.5V.469a.469.469,0,0,0-.938,0v1.5H5.274V.469a.469.469,0,0,0-.938,0v1.5H3.329a1.361,1.361,0,0,0-1.36,1.36V4.337H.469a.469.469,0,0,0,0,.938h1.5v1.5H.469a.469.469,0,1,0,0,.938h1.5v1.5H.469a.469.469,0,0,0,0,.938h1.5V11.6H.469a.469.469,0,0,0,0,.938h1.5v1.008a1.361,1.361,0,0,0,1.36,1.36H4.337v1.5a.469.469,0,1,0,.938,0v-1.5h1.5v1.5a.469.469,0,0,0,.938,0v-1.5h1.5v1.5a.469.469,0,1,0,.938,0v-1.5H11.6v1.5a.469.469,0,1,0,.938,0v-1.5h1.008a1.361,1.361,0,0,0,1.36-1.36V12.541h1.5a.469.469,0,1,0,0-.938h-1.5V10.1h1.5a.469.469,0,1,0,0-.938h-1.5v-1.5h1.5v.023A.47.47,0,0,0,16.878,7.22Zm-2.883,6.329h-.023a.42.42,0,0,1-.422.422H3.329a.42.42,0,0,1-.422-.422V3.329a.42.42,0,0,1,.422-.422H13.573a.42.42,0,0,1,.422.422V13.549Z"
                        fill="#93b2b2" />
                </g>
            </g>
        </g>
    </svg>
</template>

<script>
export default {

}
</script>

<style>

</style>