<template>
    <svg class="mt-1 ml-2" id="ram" xmlns="http://www.w3.org/2000/svg" width="14.967" height="17.182"
        viewBox="0 0 14.967 17.182">
        <path id="Path_5417" data-name="Path 5417"
            d="M46.121,10.168a.5.5,0,0,0,.5-.5v-.57h.839a.5.5,0,1,0,0-1.007h-.839v-.57a.5.5,0,0,0-.5-.5H44.477V5.6h1.644a.5.5,0,0,0,.5-.5V4.53h.839a.5.5,0,1,0,0-1.007h-.839v-.57a.5.5,0,0,0-.5-.5H44.477V1.007A1.008,1.008,0,0,0,43.47,0H37.5A1.008,1.008,0,0,0,36.49,1.007V2.45H34.846a.5.5,0,0,0-.5.5v.57H33.5a.5.5,0,0,0,0,1.007h.839V5.1a.5.5,0,0,0,.5.5H36.49V7.014H34.846a.5.5,0,0,0-.5.5v.57H33.5a.5.5,0,0,0,0,1.007h.839v.57a.5.5,0,0,0,.5.5H36.49v1.409H34.846a.5.5,0,0,0-.5.5v.57H33.5a.5.5,0,1,0,0,1.007h.839v.57a.5.5,0,0,0,.5.5H36.49v1.443A1.008,1.008,0,0,0,37.5,17.182H43.47a1.008,1.008,0,0,0,1.007-1.007V14.732h1.644a.5.5,0,0,0,.5-.5v-.57h.839a.5.5,0,1,0,0-1.007h-.839v-.57a.5.5,0,0,0-.5-.5H44.477V10.168Zm-.5-2.148V9.161H44.477V8.02Zm0-4.564V4.6H44.477V3.456ZM35.349,4.6V3.456H36.49V4.6Zm0,4.564V8.02H36.49V9.161Zm0,4.564V12.584H36.49v1.141Zm8.121,2.45H37.5V1.007H43.47C43.471,16.537,43.473,16.175,43.47,16.175Zm2.148-3.591v1.141H44.477V12.584Z"
            transform="translate(-33)" fill="#93b2b2" />
    </svg>
</template>

<script>
export default {

}
</script>

<style>

</style>