<template>
    <svg class="mt-1 ml-1" id="hdd" xmlns="http://www.w3.org/2000/svg" width="14.16" height="17.402"
        viewBox="0 0 14.16 17.402">
        <path id="XMLID_376_" d="M47.5,0V17.4H61.66V0ZM60.637,16.378H48.524V1.024H60.637Z" transform="translate(-47.5)"
            fill="#93b2b2" />
        <path id="XMLID_390_"
            d="M210.033,160.622a1.589,1.589,0,1,0-1.589-1.589A1.59,1.59,0,0,0,210.033,160.622Zm0-2.153a.565.565,0,1,1-.565.565A.565.565,0,0,1,210.033,158.469Z"
            transform="translate(-202.953 -152.073)" fill="#93b2b2" />
        <path id="XMLID_391_" d="M96.474,53.524h.011a.512.512,0,1,0,0-1.024h-.011a.512.512,0,1,0,0,1.024Z"
            transform="translate(-94.308 -50.709)" fill="#93b2b2" />
        <path id="XMLID_392_" d="M96.306,429.024h.011a.512.512,0,1,0,0-1.024h-.011a.512.512,0,1,0,0,1.024Z"
            transform="translate(-94.146 -413.396)" fill="#93b2b2" />
        <path id="XMLID_393_" d="M384.679,53.524h.011a.512.512,0,0,0,0-1.024h-.011a.512.512,0,0,0,0,1.024Z"
            transform="translate(-372.679 -50.709)" fill="#93b2b2" />
        <path id="XMLID_394_" d="M384.69,428h-.011a.512.512,0,0,0,0,1.024h.011a.512.512,0,0,0,0-1.024Z"
            transform="translate(-372.679 -413.396)" fill="#93b2b2" />
        <path id="XMLID_398_" d="M145,378.154h7.507v-2.821H145Zm1.024-1.8h5.459v.773h-5.459Z"
            transform="translate(-141.673 -362.526)" fill="#93b2b2" />
        <path id="XMLID_469_"
            d="M105.716,61.95l-.776.776.724.724.788-.788a5.145,5.145,0,1,0-.736-.712Zm3.919-7.426a4.112,4.112,0,1,1-2.454,7.409l.47-.47-.724-.724-.485.485a4.109,4.109,0,0,1,3.192-6.7Z"
            transform="translate(-102.555 -51.675)" fill="#93b2b2" />
    </svg>
</template>

<script>
export default {

}
</script>

<style>

</style>