<template>
 <div class="dark:bg-black h-screen">
    <!-- {{getUsers.data}} -->
<div class="dark:text-white flex items-center justify-center w-full h-screen">
<div class="card  w-96 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700  shadow-xl">
  <div class="card-body">
    <h2 class="card-title dark:text-gray-300">name:{{getUsers.data[1].name}}</h2>
    <p>duration:{{getUsers.data[1].duration}}</p>
     <h1>discount:{{getUsers.data[1].discount}}</h1>
     <h2>cpuCapacity:{{getUsers.data[1].cpuCapacity}}</h2>
     <h3>ramCapcity:{{getUsers.data[1].ramCapcity}}</h3>
     <h4>storageCapacity:{{getUsers.data[1].storageCapacity}}</h4>
     <h5>trafficCapacity:{{getUsers.data[1].trafficCapacity}}</h5>
     <h6>packageName:{{getUsers.data[1].packageName}}</h6>
     <h1>packageType:{{getUsers.data[1].packageType}}</h1>
     <h2>durationDays:{{getUsers.data[1].durationDays}}</h2>
     <h3>discountPercent:{{getUsers.data[1].discountPercent}}</h3>
     <h4>price:{{getUsers.data[1].price}}</h4>
  </div>
</div>
</div>
 </div>
</template>
<script setup>
import { computed, onMounted } from "vue"
import {useCounterStoreCardOne} from "../../stores/cartOne"
const counterStore=useCounterStoreCardOne()
const getUsers=computed(()=>counterStore.getUsers)
onMounted(()=>{
counterStore.fetchusers()
})
</script>
<style>

</style>
