<template>
    <svg class="mt-3 " id="Group_4040" data-name="Group 4040" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" width="73.497" height="73.632" viewBox="0 0 73.497 73.632">
        <defs>
            <clipPath id="clip-path">
                <rect id="Rectangle_1901" data-name="Rectangle 1901" width="73.497" height="73.632" fill="none"
                    stroke="#707070" stroke-linejoin="bevel" stroke-width="1" />
            </clipPath>
        </defs>
        <g id="Group_3312" data-name="Group 3312" clip-path="url(#clip-path)">
            <path id="Path_6614" data-name="Path 6614"
                d="M65.395,6.252H6.032A3.425,3.425,0,0,0,2.606,9.676V66.532a3.426,3.426,0,0,0,3.426,3.426H65.395a3.426,3.426,0,0,0,3.426-3.426V9.676a3.425,3.425,0,0,0-3.426-3.424"
                transform="translate(1.036 2.486)" fill="#00b141" stroke="#707070" stroke-linejoin="bevel"
                stroke-width="1" />
            <g id="Rectangle_1895" data-name="Rectangle 1895" transform="translate(3.642 8.739)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="bevel" stroke-width="1.7">
                <path
                    d="M2.45,0H63.763a2.451,2.451,0,0,1,2.451,2.451v58.8a2.451,2.451,0,0,1-2.451,2.451H2.451A2.451,2.451,0,0,1,0,61.255V2.45A2.45,2.45,0,0,1,2.45,0Z"
                    stroke="none" />
                <path
                    d="M2.45-.85H63.763a3.3,3.3,0,0,1,3.3,3.3v58.8a3.3,3.3,0,0,1-3.3,3.3H2.451a3.3,3.3,0,0,1-3.3-3.3V2.45A3.3,3.3,0,0,1,2.45-.85Z"
                    fill="none" />
            </g>
            <line id="Line_860" data-name="Line 860" x1="4.632" transform="translate(52.571 15.743)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.642" />
            <line id="Line_861" data-name="Line 861" y1="4.63" transform="translate(18.203 13.427)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.642" />
            <line id="Line_862" data-name="Line 862" x1="4.63" transform="translate(15.887 15.743)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.642" />
            <g id="Path_6615" data-name="Path 6615" transform="translate(8.354 9.843)" fill="#fff"
                stroke-linejoin="bevel">
                <path
                    d="M 26.42241859436035 51.91229248046875 L 25.4906177520752 51.63100051879883 L 26.08082962036133 42.07602691650391 L 20.84363746643066 40.24699020385742 L 20.27296829223633 40.04769134521484 L 20.57573699951172 39.52451324462891 L 29.26902770996094 24.50276184082031 L 30.20082855224609 24.78409194946289 L 29.60927200317383 34.34038543701172 L 34.8477783203125 36.1694221496582 L 35.41853713989258 36.36870193481445 L 35.11570739746094 36.89193344116211 L 26.42241859436035 51.91229248046875 Z"
                    stroke="none" />
                <path
                    d="M 29.7017879486084 24.75319290161133 L 21.00849914550781 39.77495193481445 L 26.60322761535645 41.72885131835938 L 25.98966789245605 51.66181945800781 L 34.68296051025391 36.64147186279297 L 29.08682823181152 34.68757247924805 L 29.7017879486084 24.75319290161133 M 28.83627700805664 24.25231170654297 L 30.69987869262695 24.81497192382812 L 30.1317253112793 33.99319458007812 L 35.01259613037109 35.69736099243164 L 35.54844665527344 37.14239120483398 L 26.85515785217285 52.16274261474609 L 24.99156761169434 51.60017395019531 L 25.55842971801758 42.42319488525391 L 20.67878723144531 40.71903228759766 L 20.14298629760742 39.27407073974609 L 28.83627700805664 24.25231170654297 Z"
                    stroke="none" fill="#707070" />
            </g>
            <g id="Path_6616" data-name="Path 6616" transform="translate(8.354 9.843)" fill="none"
                stroke-linecap="round" stroke-linejoin="bevel">
                <path d="M34.683,36.641l-5.6-1.954.615-9.934L21.008,39.775,26.6,41.729l-.614,9.933Z" stroke="none" />
                <path
                    d="M 29.7017879486084 24.75319290161133 L 21.00849914550781 39.77495193481445 L 26.60322761535645 41.72885131835938 L 25.98966789245605 51.66181945800781 L 34.68296051025391 36.64147186279297 L 29.08682823181152 34.68757247924805 L 29.7017879486084 24.75319290161133 M 28.23041725158691 23.90169143676758 L 31.39853858947754 24.85822296142578 L 30.86315155029297 33.50714111328125 L 35.24333953857422 35.03649139404297 L 36.154296875 37.4930305480957 L 27.46100807189941 52.51338195800781 L 24.29289817810059 51.55701446533203 L 24.82707023620605 42.90924072265625 L 20.4479866027832 41.37989044189453 L 19.53712844848633 38.9234504699707 L 28.23041725158691 23.90169143676758 Z"
                    stroke="none" fill="#1a1717" />
            </g>
            <g id="Rectangle_1896" data-name="Rectangle 1896" transform="translate(1.188 66.463)" fill="#fff"
                stroke="#707070" stroke-linejoin="bevel" stroke-width="1">
                <rect width="71.121" height="5.98" stroke="none" />
                <rect x="-0.5" y="-0.5" width="72.121" height="6.98" fill="none" />
            </g>
            <g id="Rectangle_1897" data-name="Rectangle 1897" transform="translate(1.188 66.463)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="bevel" stroke-width="1.7">
                <rect width="71.121" height="5.98" stroke="none" />
                <rect x="-0.85" y="-0.85" width="72.821" height="7.68" fill="none" />
            </g>
            <g id="Rectangle_1898" data-name="Rectangle 1898" transform="translate(1.188 21.219)" fill="#fff"
                stroke="#707070" stroke-linejoin="bevel" stroke-width="1">
                <rect width="71.121" height="5.98" stroke="none" />
                <rect x="-0.5" y="-0.5" width="72.121" height="6.98" fill="none" />
            </g>
            <g id="Rectangle_1899" data-name="Rectangle 1899" transform="translate(1.188 21.219)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="bevel" stroke-width="1.7">
                <rect width="71.121" height="5.98" stroke="none" />
                <rect x="-0.85" y="-0.85" width="72.821" height="7.68" fill="none" />
            </g>
            <g id="Rectangle_1900" data-name="Rectangle 1900" transform="translate(29.18 1.188)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="bevel" stroke-width="1.7">
                <rect width="14.728" height="7.55" stroke="none" />
                <rect x="-0.85" y="-0.85" width="16.428" height="9.25" fill="none" />
            </g>
            <g id="Path_6617" data-name="Path 6617" transform="translate(14.848 0.552)" fill="#00b141"
                stroke-linejoin="bevel">
                <path
                    d="M 43.23905944824219 8.686083793640137 L 42.73905944824219 8.686083793640137 L 37.33999633789062 8.686083793640137 L 36.83999633789062 8.686083793640137 L 36.83999633789062 8.186083793640137 L 36.83999633789062 4.086833477020264 C 36.83999633789062 2.322993516921997 38.27498626708984 0.8880035877227783 40.03883743286133 0.8880035877227783 C 41.80344772338867 0.8880035877227783 43.23905944824219 2.322993516921997 43.23905944824219 4.086833477020264 L 43.23905944824219 8.186083793640137 L 43.23905944824219 8.686083793640137 Z"
                    stroke="none" />
                <path
                    d="M 42.73905944824219 8.186083793640137 L 42.73905944824219 4.086833477020264 C 42.73905944824219 2.596953630447388 41.53150939941406 1.388003587722778 40.03883743286133 1.388003587722778 C 38.54755783081055 1.388003587722778 37.33999633789062 2.596953630447388 37.33999633789062 4.086833477020264 L 37.33999633789062 8.186083793640137 L 42.73905944824219 8.186083793640137 M 42.73905944824219 9.186083793640137 L 37.33999633789062 9.186083793640137 L 36.33999633789062 8.186083793640137 L 36.33999633789062 4.086833477020264 C 36.33999633789062 2.047293663024902 37.99928665161133 0.3880035579204559 40.03883743286133 0.3880035579204559 C 42.07914733886719 0.3880035579204559 43.73905944824219 2.047293663024902 43.73905944824219 4.086833477020264 L 43.73905944824219 8.186083793640137 L 42.73905944824219 9.186083793640137 Z"
                    stroke="none" fill="#707070" />
            </g>
            <g id="Path_6618" data-name="Path 6618" transform="translate(14.848 0.552)" fill="none"
                stroke-linecap="round" stroke-linejoin="bevel">
                <path d="M42.739,8.186h-5.4v-4.1a2.7,2.7,0,0,1,5.4,0Z" stroke="none" />
                <path
                    d="M 42.73905944824219 8.186083793640137 L 42.73905944824219 4.086833477020264 C 42.73905944824219 2.596953630447388 41.53150939941406 1.388003587722778 40.03883743286133 1.388003587722778 C 38.54755783081055 1.388003587722778 37.33999633789062 2.596953630447388 37.33999633789062 4.086833477020264 L 37.33999633789062 8.186083793640137 L 42.73905944824219 8.186083793640137 M 42.73905944824219 9.886083602905273 L 37.33999633789062 9.886083602905273 L 35.63999938964844 8.186083793640137 L 35.63999938964844 4.086833477020264 C 35.63999938964844 1.661313533782959 37.61330795288086 -0.3119964301586151 40.03883743286133 -0.3119964301586151 C 42.46512603759766 -0.3119964301586151 44.43905639648438 1.661313533782959 44.43905639648438 4.086833477020264 L 44.43905639648438 8.186083793640137 L 42.73905944824219 9.886083602905273 Z"
                    stroke="none" fill="#1a1717" />
            </g>
            <g id="Path_6619" data-name="Path 6619" transform="translate(4.41 0.552)" fill="#00b141"
                stroke-linejoin="bevel">
                <path
                    d="M 16.99145889282227 8.686083793640137 L 16.49145889282227 8.686083793640137 L 11.09099960327148 8.686083793640137 L 10.59099960327148 8.686083793640137 L 10.59099960327148 8.186083793640137 L 10.59099960327148 4.086833477020264 C 10.59099960327148 2.322993516921997 12.02661895751953 0.8880035877227783 13.79122924804688 0.8880035877227783 C 15.55583953857422 0.8880035877227783 16.99145889282227 2.322993516921997 16.99145889282227 4.086833477020264 L 16.99145889282227 8.186083793640137 L 16.99145889282227 8.686083793640137 Z"
                    stroke="none" />
                <path
                    d="M 16.49145889282227 8.186083793640137 L 16.49145889282227 4.086833477020264 C 16.49145889282227 2.596953630447388 15.28250885009766 1.388003587722778 13.79122924804688 1.388003587722778 C 12.29995918273926 1.388003587722778 11.09099960327148 2.596953630447388 11.09099960327148 4.086833477020264 L 11.09099960327148 8.186083793640137 L 16.49145889282227 8.186083793640137 M 16.49145889282227 9.186083793640137 L 11.09099960327148 9.186083793640137 L 10.09099960327148 8.186083793640137 L 10.09099960327148 4.086833477020264 C 10.09099960327148 2.047293663024902 11.75091934204102 0.3880035579204559 13.79122924804688 0.3880035579204559 C 15.83153915405273 0.3880035579204559 17.49145889282227 2.047293663024902 17.49145889282227 4.086833477020264 L 17.49145889282227 8.186083793640137 L 16.49145889282227 9.186083793640137 Z"
                    stroke="none" fill="#707070" />
            </g>
            <g id="Path_6620" data-name="Path 6620" transform="translate(4.41 0.552)" fill="none" stroke-linecap="round"
                stroke-linejoin="bevel">
                <path d="M16.491,8.186h-5.4v-4.1a2.7,2.7,0,0,1,5.4,0Z" stroke="none" />
                <path
                    d="M 16.49145889282227 8.186083793640137 L 16.49145889282227 4.086833477020264 C 16.49145889282227 2.596953630447388 15.28250885009766 1.388003587722778 13.79122924804688 1.388003587722778 C 12.29995918273926 1.388003587722778 11.09099960327148 2.596953630447388 11.09099960327148 4.086833477020264 L 11.09099960327148 8.186083793640137 L 16.49145889282227 8.186083793640137 M 16.49145889282227 9.886083602905273 L 11.09099960327148 9.886083602905273 L 9.390998840332031 8.186083793640137 L 9.390998840332031 4.086833477020264 C 9.390998840332031 1.661313533782959 11.36492919921875 -0.3119964301586151 13.79122924804688 -0.3119964301586151 C 16.217529296875 -0.3119964301586151 18.19145965576172 1.661313533782959 18.19145965576172 4.086833477020264 L 18.19145965576172 8.186083793640137 L 16.49145889282227 9.886083602905273 Z"
                    stroke="none" fill="#1a1717" />
            </g>
        </g>
    </svg>
</template>

<script>
export default {

}
</script>

<style>

</style>