<template>
    <svg class="mt-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="84.065"
        height="89.056" viewBox="0 0 84.065 89.056">
        <defs>
            <clipPath id="clip-path">
                <rect id="Rectangle_1894" data-name="Rectangle 1894" width="84.065" height="89.056" fill="none"
                    stroke="#707070" stroke-linejoin="bevel" stroke-width="1" />
            </clipPath>
        </defs>
        <g id="Group_4039" data-name="Group 4039" transform="translate(-0.001)">
            <g id="Group_3310" data-name="Group 3310" transform="translate(0.001 0)" clip-path="url(#clip-path)">
                <path id="Path_6597" data-name="Path 6597"
                    d="M76.328,7.784H5.842a3.458,3.458,0,0,0-3.459,3.459v62.3A3.459,3.459,0,0,0,5.842,77H76.328a3.459,3.459,0,0,0,3.459-3.459v-62.3a3.458,3.458,0,0,0-3.459-3.459"
                    transform="translate(0.948 3.095)" fill="#00b141" stroke="#707070" stroke-linejoin="bevel"
                    stroke-width="1" />
                <g id="Rectangle_1887" data-name="Rectangle 1887" transform="translate(3.331 10.88)" fill="none"
                    stroke="#1a1717" stroke-linecap="round" stroke-linejoin="bevel" stroke-width="1.7">
                    <rect width="77.404" height="69.219" rx="2.475" stroke="none" />
                    <rect x="-0.85" y="-0.85" width="79.104" height="70.919" rx="3.325" fill="none" />
                </g>
                <g id="Path_6598" data-name="Path 6598" transform="translate(4.236 13.684)" fill="#fff"
                    stroke-linejoin="bevel">
                    <path
                        d="M 15.43498706817627 58.15766906738281 L 14.50318717956543 57.87633895874023 L 15.01648235321045 49.58205032348633 L 10.48793697357178 48.00043106079102 L 9.917257308959961 47.80112075805664 L 10.22004699707031 47.27793884277344 L 17.81060791015625 34.16255187988281 L 18.74240684509277 34.44388198852539 L 18.22911071777344 42.7381706237793 L 22.75765609741211 44.31978988647461 L 23.32833671569824 44.51910018920898 L 23.02554702758789 45.04228210449219 L 15.43498706817627 58.15766906738281 Z"
                        stroke="none" />
                    <path
                        d="M 18.24335670471191 34.41300201416016 L 10.65279769897461 47.52838897705078 L 15.53892707824707 49.23490142822266 L 15.00223731994629 57.90721893310547 L 22.59279632568359 44.79183197021484 L 17.70666694641113 43.08531951904297 L 18.24335670471191 34.41300201416016 M 17.37785720825195 33.91209030151367 L 19.24144744873047 34.47476959228516 L 18.75154685974121 42.39101409912109 L 22.92251586914062 43.84775161743164 L 23.45829772949219 45.29273986816406 L 15.86773681640625 58.40813064575195 L 14.00414657592773 57.84545135498047 L 14.49404716491699 49.92920684814453 L 10.32307624816895 48.47246932983398 L 9.787296295166016 47.02748107910156 L 17.37785720825195 33.91209030151367 Z"
                        stroke="none" fill="#707070" />
                </g>
                <g id="Path_6599" data-name="Path 6599" transform="translate(4.236 13.684)" fill="none"
                    stroke-linecap="round" stroke-linejoin="bevel">
                    <path d="M22.593,44.792l-4.886-1.707.537-8.672L10.653,47.528l4.886,1.707L15,57.907Z"
                        stroke="none" />
                    <path
                        d="M 18.24335670471191 34.41300201416016 L 10.65279769897461 47.52838897705078 L 15.53892707824707 49.23490142822266 L 15.00223731994629 57.90721893310547 L 22.59279632568359 44.79183197021484 L 17.70666694641113 43.08531951904297 L 18.24335670471191 34.41300201416016 M 16.77200698852539 33.56145095825195 L 19.94010734558105 34.51800155639648 L 19.48295974731445 41.90500259399414 L 23.15332794189453 43.1869010925293 L 24.06414794921875 45.64337921142578 L 16.47358703613281 58.75876998901367 L 13.30548667907715 57.80221939086914 L 13.76263427734375 50.41521835327148 L 10.09226608276367 49.13331985473633 L 9.181446075439453 46.67684173583984 L 16.77200698852539 33.56145095825195 Z"
                        stroke="none" fill="#1a1717" />
                </g>
                <g id="Rectangle_1888" data-name="Rectangle 1888" transform="translate(1.188 10.879)" fill="#00b141"
                    stroke="#707070" stroke-linejoin="bevel" stroke-width="1">
                    <rect width="81.689" height="10.337" stroke="none" />
                    <rect x="-0.5" y="-0.5" width="82.689" height="11.337" fill="none" />
                </g>
                <g id="Rectangle_1889" data-name="Rectangle 1889" transform="translate(1.188 10.879)" fill="none"
                    stroke="#1a1717" stroke-linecap="round" stroke-linejoin="bevel" stroke-width="1.7">
                    <rect width="81.689" height="10.337" stroke="none" />
                    <rect x="-0.85" y="-0.85" width="83.389" height="12.037" fill="none" />
                </g>
                <g id="Rectangle_1890" data-name="Rectangle 1890" transform="translate(16.042 80.1)" fill="#fff"
                    stroke="#707070" stroke-linejoin="bevel" stroke-width="1">
                    <rect width="12.86" height="7.662" stroke="none" />
                    <rect x="-0.5" y="-0.5" width="13.86" height="8.662" fill="none" />
                </g>
                <g id="Rectangle_1891" data-name="Rectangle 1891" transform="translate(16.042 80.1)" fill="none"
                    stroke="#1a1717" stroke-linecap="round" stroke-linejoin="bevel" stroke-width="1.7">
                    <rect width="12.86" height="7.662" stroke="none" />
                    <rect x="-0.85" y="-0.85" width="14.56" height="9.362" fill="none" />
                </g>
                <g id="Path_6600" data-name="Path 6600" transform="translate(10.053 14.721)" fill="#00b141"
                    stroke-linejoin="bevel">
                    <path
                        d="M 67.22182464599609 65.87898254394531 L 25.28300476074219 65.87898254394531 L 24.78300476074219 65.87898254394531 L 24.78300476074219 65.37898254394531 L 24.78300476074219 40.48014068603516 C 24.78300476074219 38.29705810546875 26.5590648651123 36.52099990844727 28.74214553833008 36.52099990844727 L 70.67957305908203 36.52099990844727 L 71.17957305908203 36.52099990844727 L 71.17957305908203 37.02099990844727 L 71.17957305908203 61.91843795776367 C 71.17957305908203 64.10228729248047 69.40413665771484 65.87898254394531 67.22182464599609 65.87898254394531 Z"
                        stroke="none" />
                    <path
                        d="M 67.22182464599609 65.37898254394531 C 69.13239288330078 65.37898254394531 70.67957305908203 63.83039855957031 70.67957305908203 61.91843795776367 L 70.67957305908203 37.02099990844727 L 28.74214553833008 37.02099990844727 C 26.83158493041992 37.02099990844727 25.28300476074219 38.569580078125 25.28300476074219 40.48014068603516 L 25.28300476074219 65.37898254394531 L 67.22182464599609 65.37898254394531 M 67.22182464599609 66.37898254394531 L 25.28300476074219 66.37898254394531 L 24.28300476074219 65.37898254394531 L 24.28300476074219 40.48014068603516 C 24.28300476074219 38.02135848999023 26.28336524963379 36.02099990844727 28.74214553833008 36.02099990844727 L 70.67957305908203 36.02099990844727 L 71.67957305908203 37.02099990844727 L 71.67957305908203 61.91843795776367 C 71.67957305908203 64.37799072265625 69.67983245849609 66.37898254394531 67.22182464599609 66.37898254394531 Z"
                        stroke="none" fill="#707070" />
                </g>
                <g id="Path_6601" data-name="Path 6601" transform="translate(10.053 14.721)" fill="none"
                    stroke-linecap="round" stroke-linejoin="bevel">
                    <path
                        d="M25.283,65.379H67.222a3.458,3.458,0,0,0,3.458-3.461v-24.9H28.742a3.459,3.459,0,0,0-3.459,3.459Z"
                        stroke="none" />
                    <path
                        d="M 67.22182464599609 65.37898254394531 C 69.13239288330078 65.37898254394531 70.67957305908203 63.83039855957031 70.67957305908203 61.91843795776367 L 70.67957305908203 37.02099990844727 L 28.74214553833008 37.02099990844727 C 26.83158493041992 37.02099990844727 25.28300476074219 38.569580078125 25.28300476074219 40.48014068603516 L 25.28300476074219 65.37898254394531 L 67.22182464599609 65.37898254394531 M 67.22182464599609 67.0789794921875 L 25.28300476074219 67.0789794921875 L 23.58300590515137 65.37898254394531 L 23.58300590515137 40.48014068603516 C 23.58300590515137 37.63537979125977 25.89738464355469 35.32099914550781 28.74214553833008 35.32099914550781 L 70.67957305908203 35.32099914550781 L 72.37957763671875 37.02099990844727 L 72.37957763671875 61.91843795776367 C 72.37957763671875 64.76396942138672 70.06581878662109 67.0789794921875 67.22182464599609 67.0789794921875 Z"
                        stroke="none" fill="#1a1717" />
                </g>
                <path id="Path_6602" data-name="Path 6602"
                    d="M55.085,59.521a7.769,7.769,0,1,0-7.769,7.769,7.769,7.769,0,0,0,7.769-7.769"
                    transform="translate(15.725 20.578)" fill="#fff" stroke="#707070" stroke-linejoin="bevel"
                    stroke-width="1" />
                <g id="Path_6603" data-name="Path 6603" transform="translate(15.725 20.578)" fill="none"
                    stroke-linecap="round" stroke-linejoin="bevel">
                    <path d="M55.085,59.521a7.769,7.769,0,1,0-7.769,7.769A7.769,7.769,0,0,0,55.085,59.521Z"
                        stroke="none" />
                    <path
                        d="M 47.31504821777344 51.75199890136719 C 43.02431106567383 51.75199890136719 39.54700088500977 55.23070907592773 39.54700088500977 59.52143859863281 C 39.54700088500977 63.8107795715332 43.02431106567383 67.29087829589844 47.31504821777344 67.29087829589844 C 51.6071891784668 67.29087829589844 55.08451080322266 63.8107795715332 55.08451080322266 59.52143859863281 C 55.08451080322266 55.23070907592773 51.6071891784668 51.75199890136719 47.31504821777344 51.75199890136719 M 47.31504821777344 50.052001953125 C 52.53652954101562 50.052001953125 56.78451156616211 54.29996490478516 56.78451156616211 59.52143859863281 C 56.78451156616211 64.74290466308594 52.53652954101562 68.99087524414062 47.31504821777344 68.99087524414062 C 42.0943489074707 68.99087524414062 37.84700012207031 64.74290466308594 37.84700012207031 59.52143859863281 C 37.84700012207031 54.29996490478516 42.0943489074707 50.052001953125 47.31504821777344 50.052001953125 Z"
                        stroke="none" fill="#1a1717" />
                </g>
                <g id="Rectangle_1892" data-name="Rectangle 1892" transform="translate(39.877 29.009)" fill="#fff"
                    stroke="#707070" stroke-linejoin="bevel" stroke-width="1">
                    <rect width="34.281" height="15.906" stroke="none" />
                    <rect x="-0.5" y="-0.5" width="35.281" height="16.906" fill="none" />
                </g>
                <g id="Rectangle_1893" data-name="Rectangle 1893" transform="translate(39.877 29.009)" fill="none"
                    stroke="#1a1717" stroke-linecap="round" stroke-linejoin="bevel" stroke-width="1.7">
                    <rect width="34.281" height="15.906" stroke="none" />
                    <rect x="-0.85" y="-0.85" width="35.981" height="17.606" fill="none" />
                </g>
                <line id="Line_848" data-name="Line 848" x2="62.833" transform="translate(10.616 16.049)" fill="none"
                    stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
                <line id="Line_849" data-name="Line 849" x2="10.408" transform="translate(63.041 58.623)" fill="none"
                    stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
                <line id="Line_850" data-name="Line 850" x2="10.408" transform="translate(63.041 64.285)" fill="none"
                    stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
                <line id="Line_851" data-name="Line 851" x2="0.725" transform="translate(55.385 58.623)" fill="none"
                    stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
                <line id="Line_852" data-name="Line 852" x2="0.724" transform="translate(48.753 58.623)" fill="none"
                    stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
                <line id="Line_853" data-name="Line 853" x2="0.724" transform="translate(42.119 58.623)" fill="none"
                    stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
                <line id="Line_854" data-name="Line 854" x2="0.725" transform="translate(55.385 64.285)" fill="none"
                    stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
                <line id="Line_855" data-name="Line 855" x2="0.724" transform="translate(48.753 64.285)" fill="none"
                    stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
                <line id="Line_856" data-name="Line 856" x2="0.724" transform="translate(42.119 64.285)" fill="none"
                    stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
                <path id="Path_6604" data-name="Path 6604"
                    d="M15.027,27.416a3.405,3.405,0,1,0-3.406,3.406,3.406,3.406,0,0,0,3.406-3.406"
                    transform="translate(3.267 9.547)" fill="#fff" stroke="#707070" stroke-linejoin="bevel"
                    stroke-width="1" />
                <g id="Path_6605" data-name="Path 6605" transform="translate(3.267 9.547)" fill="none"
                    stroke-linecap="round" stroke-linejoin="bevel">
                    <path d="M15.027,27.416a3.405,3.405,0,1,0-3.406,3.406A3.406,3.406,0,0,0,15.027,27.416Z"
                        stroke="none" />
                    <path
                        d="M 11.62063694000244 24.0100040435791 C 9.740817070007324 24.0100040435791 8.215996742248535 25.53481483459473 8.215996742248535 27.41603469848633 C 8.215996742248535 29.29724502563477 9.740817070007324 30.82206535339355 11.62063694000244 30.82206535339355 C 13.50185680389404 30.82206535339355 15.02667713165283 29.29724502563477 15.02667713165283 27.41603469848633 C 15.02667713165283 25.53481483459473 13.50185680389404 24.0100040435791 11.62063694000244 24.0100040435791 M 11.62063694000244 22.31000518798828 C 14.43611717224121 22.31000518798828 16.72667694091797 24.60056495666504 16.72667694091797 27.41603469848633 C 16.72667694091797 30.23150444030762 14.43611717224121 32.52206420898438 11.62063694000244 32.52206420898438 C 8.805927276611328 32.52206420898438 6.515996932983398 30.23150444030762 6.515996932983398 27.41603469848633 C 6.515996932983398 24.60056495666504 8.805927276611328 22.31000518798828 11.62063694000244 22.31000518798828 Z"
                        stroke="none" fill="#1a1717" />
                </g>
                <path id="Path_6606" data-name="Path 6606"
                    d="M23.57,27.416a3.405,3.405,0,1,0-3.406,3.406,3.406,3.406,0,0,0,3.406-3.406"
                    transform="translate(6.664 9.547)" fill="#fff" stroke="#707070" stroke-linejoin="bevel"
                    stroke-width="1" />
                <g id="Path_6607" data-name="Path 6607" transform="translate(6.664 9.547)" fill="none"
                    stroke-linecap="round" stroke-linejoin="bevel">
                    <path d="M23.57,27.416a3.405,3.405,0,1,0-3.406,3.406A3.406,3.406,0,0,0,23.57,27.416Z"
                        stroke="none" />
                    <path
                        d="M 20.16363716125488 24.0100040435791 C 18.28381729125977 24.0100040435791 16.75899696350098 25.53481483459473 16.75899696350098 27.41603469848633 C 16.75899696350098 29.29724502563477 18.28381729125977 30.82206535339355 20.16363716125488 30.82206535339355 C 22.04485702514648 30.82206535339355 23.56967735290527 29.29724502563477 23.56967735290527 27.41603469848633 C 23.56967735290527 25.53481483459473 22.04485702514648 24.0100040435791 20.16363716125488 24.0100040435791 M 20.16363716125488 22.31000518798828 C 22.97911643981934 22.31000518798828 25.26967620849609 24.60056495666504 25.26967620849609 27.41603469848633 C 25.26967620849609 30.23150444030762 22.97911643981934 32.52206420898438 20.16363716125488 32.52206420898438 C 17.34892654418945 32.52206420898438 15.05899810791016 30.23150444030762 15.05899810791016 27.41603469848633 C 15.05899810791016 24.60056495666504 17.34892654418945 22.31000518798828 20.16363716125488 22.31000518798828 Z"
                        stroke="none" fill="#1a1717" />
                </g>
                <path id="Path_6608" data-name="Path 6608" d="M12.594,10.542V.849H2.383"
                    transform="translate(0.948 0.338)" fill="none" stroke="#1a1717" stroke-linecap="round"
                    stroke-linejoin="bevel" stroke-width="1.7" />
                <line id="Line_857" data-name="Line 857" y2="7.223" transform="translate(44.617 33.671)" fill="none"
                    stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
                <path id="Path_6609" data-name="Path 6609" d="M34.808,24.091h4.834V27.7"
                    transform="translate(13.841 9.58)" fill="none" stroke="#1a1717" stroke-linecap="round"
                    stroke-linejoin="bevel" stroke-width="1" />
                <path id="Path_6610" data-name="Path 6610" d="M39.643,30.286H34.809v-3.61h4.834"
                    transform="translate(13.841 10.607)" fill="none" stroke="#1a1717" stroke-linecap="round"
                    stroke-linejoin="bevel" stroke-width="1" />
                <path id="Path_6611" data-name="Path 6611" d="M40.793,30.286h4.836v-3.61H40.793"
                    transform="translate(16.221 10.607)" fill="none" stroke="#1a1717" stroke-linecap="round"
                    stroke-linejoin="bevel" stroke-width="1" />
                <path id="Path_6612" data-name="Path 6612" d="M40.793,27.7h4.836v-3.61H40.793"
                    transform="translate(16.221 9.58)" fill="none" stroke="#1a1717" stroke-linecap="round"
                    stroke-linejoin="bevel" stroke-width="1" />
                <path id="Path_6613" data-name="Path 6613" d="M51.492,30.286v-3.61H46.656"
                    transform="translate(18.552 10.607)" fill="none" stroke="#1a1717" stroke-linecap="round"
                    stroke-linejoin="bevel" stroke-width="1" />
                <line id="Line_858" data-name="Line 858" y1="3.61" transform="translate(70.044 33.671)" fill="none"
                    stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
                <line id="Line_859" data-name="Line 859" y1="3.61" transform="translate(65.208 33.671)" fill="none"
                    stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
            </g>
        </g>
    </svg>

</template>

<script>
export default {

}
</script>

<style>

</style>