<template>
    <svg class="mt-3" id="Group_4038" data-name="Group 4038" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" width="117.891" height="101.559" viewBox="0 0 117.891 101.559">
        <defs>
            <clipPath id="clip-path">
                <rect id="Rectangle_1886" data-name="Rectangle 1886" width="117.891" height="101.559" fill="none"
                    stroke="#707070" stroke-linejoin="bevel" stroke-width="1" />
            </clipPath>
        </defs>
        <g id="Group_3308" data-name="Group 3308" transform="translate(0 0)" clip-path="url(#clip-path)">
            <path id="Path_6586" data-name="Path 6586"
                d="M86.618,22.4H31.255a3.6,3.6,0,0,0-3.6,3.6V87.479H47.418l5.55,6.956H105.75a3.6,3.6,0,0,0,3.6-3.6v-45.7A22.732,22.732,0,0,0,86.618,22.4"
                transform="translate(7.462 6.045)" fill="#00b141" stroke="#707070" stroke-linejoin="bevel"
                stroke-width="1" />
            <g id="Path_6587" data-name="Path 6587" transform="translate(7.462 6.045)" fill="none"
                stroke-linecap="round" stroke-linejoin="bevel">
                <path
                    d="M86.618,22.4H31.255a3.6,3.6,0,0,0-3.6,3.6V87.479H47.418l5.55,6.956H105.75a3.6,3.6,0,0,0,3.6-3.6v-45.7A22.732,22.732,0,0,0,86.618,22.4Z"
                    stroke="none" />
                <path
                    d="M 31.25493621826172 22.40499877929688 C 29.26766967773438 22.40499877929688 27.65499877929688 24.01638793945312 27.65499877929688 26.003662109375 L 27.65499877929688 87.47928619384766 L 47.41844177246094 87.47928619384766 L 52.96881866455078 94.43533325195312 L 105.7500534057617 94.43533325195312 C 107.7386093139648 94.43533325195312 109.3499984741211 92.82266998291016 109.3499984741211 90.83540344238281 L 109.3499984741211 45.135986328125 C 109.3499984741211 32.58258056640625 99.17240905761719 22.40499877929688 86.61771392822266 22.40499877929688 L 31.25493621826172 22.40499877929688 M 31.25493621826172 20.70500183105469 L 86.61771392822266 20.70500183105469 C 89.915283203125 20.70500183105469 93.11512756347656 21.35121154785156 96.12837219238281 22.62568664550781 C 99.03793334960938 23.85629272460938 101.6506423950195 25.61766815185547 103.8939208984375 27.86086273193359 C 106.1371841430664 30.10403442382812 107.8986053466797 32.71661376953125 109.129280090332 35.62602233886719 C 110.4037704467773 38.63908386230469 111.0499954223633 41.83869171142578 111.0499954223633 45.135986328125 L 111.0499954223633 90.83540344238281 C 111.0499954223633 93.75778961181641 108.6724548339844 96.13533020019531 105.7500534057617 96.13533020019531 L 52.96881866455078 96.13533020019531 L 51.63999938964844 95.49562072753906 L 46.60005187988281 89.17928314208984 L 27.65499877929688 89.17928314208984 L 25.95499420166016 87.47928619384766 L 25.95499420166016 26.003662109375 C 25.95499420166016 23.08196258544922 28.33253479003906 20.70500183105469 31.25493621826172 20.70500183105469 Z"
                    stroke="none" fill="#1a1717" />
            </g>
            <g id="Path_6588" data-name="Path 6588" transform="translate(19.763 14.812)" fill="#fff"
                stroke-linejoin="bevel">
                <path
                    d="M 78.20384216308594 79.59175872802734 L 77.27204132080078 79.31047058105469 L 77.80614471435547 70.66510772705078 L 73.07926177978516 69.01352691650391 L 72.50862884521484 68.81414794921875 L 72.81145477294922 68.29102325439453 L 80.71099090576172 54.64430999755859 L 81.64276123046875 54.92568969726562 L 81.10745239257812 63.57338333129883 L 85.83406829833984 65.22248840332031 L 86.40501403808594 65.42169189453125 L 86.10211181640625 65.94503784179688 L 78.20384216308594 79.59175872802734 Z"
                    stroke="none" />
                <path
                    d="M 81.14372253417969 54.89479827880859 L 73.24417877197266 68.54151153564453 L 78.32854461669922 70.3179931640625 L 77.77109527587891 79.34130096435547 L 85.66936492919922 65.694580078125 L 80.58499908447266 63.92064666748047 L 81.14372253417969 54.89479827880859 M 80.27825927734375 54.39382171630859 L 82.14181518554688 54.95658111572266 L 81.62991333007812 63.22610473632812 L 85.998779296875 64.75039672851562 L 86.53485107421875 66.19550323486328 L 78.63658142089844 79.84222412109375 L 76.77299499511719 79.27964019775391 L 77.28374481201172 71.01221466064453 L 72.91432952880859 69.48554229736328 L 72.37872314453125 68.04052734375 L 80.27825927734375 54.39382171630859 Z"
                    stroke="none" fill="#707070" />
            </g>
            <g id="Path_6589" data-name="Path 6589" transform="translate(19.763 14.812)" fill="none"
                stroke-linecap="round" stroke-linejoin="bevel">
                <path d="M85.669,65.695l-5.084-1.774.559-9.026-7.9,13.647,5.084,1.776-.557,9.023Z" stroke="none" />
                <path
                    d="M 81.14372253417969 54.89479827880859 L 73.24417877197266 68.54151153564453 L 78.32854461669922 70.3179931640625 L 77.77109527587891 79.34130096435547 L 85.66936492919922 65.694580078125 L 80.58499908447266 63.92064666748047 L 81.14372253417969 54.89479827880859 M 79.67243957519531 54.04312896728516 L 82.84046936035156 54.99983215332031 L 82.36134338378906 62.73991394042969 L 86.22938537597656 64.08946990966797 L 87.14070129394531 66.546142578125 L 79.242431640625 80.19285583496094 L 76.07432556152344 79.23648071289062 L 76.55238342285156 71.49818420410156 L 72.68344116210938 70.14636993408203 L 71.77290344238281 67.68984222412109 L 79.67243957519531 54.04312896728516 Z"
                    stroke="none" fill="#1a1717" />
            </g>
            <g id="Rectangle_1880" data-name="Rectangle 1880" transform="translate(40.409 93.525)" fill="#00b141"
                stroke="#707070" stroke-linejoin="bevel" stroke-width="1">
                <rect width="9.854" height="6.956" stroke="none" />
                <rect x="-0.5" y="-0.5" width="10.854" height="7.956" fill="none" />
            </g>
            <g id="Rectangle_1881" data-name="Rectangle 1881" transform="translate(40.409 93.525)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="bevel" stroke-width="1.7">
                <rect width="9.854" height="6.956" stroke="none" />
                <rect x="-0.85" y="-0.85" width="11.554" height="8.656" fill="none" />
            </g>
            <line id="Line_796" data-name="Line 796" x2="0.753" transform="translate(89.394 71.069)" fill="none"
                stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_797" data-name="Line 797" x2="0.753" transform="translate(89.394 76.961)" fill="none"
                stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_798" data-name="Line 798" x2="0.753" transform="translate(82.491 71.069)" fill="none"
                stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_799" data-name="Line 799" x2="0.753" transform="translate(75.588 71.069)" fill="none"
                stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_800" data-name="Line 800" x2="0.753" transform="translate(68.685 71.069)" fill="none"
                stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_801" data-name="Line 801" x2="0.753" transform="translate(82.491 76.961)" fill="none"
                stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_802" data-name="Line 802" x2="0.753" transform="translate(75.588 76.961)" fill="none"
                stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_803" data-name="Line 803" x2="0.753" transform="translate(68.685 76.961)" fill="none"
                stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_804" data-name="Line 804" x2="0.753" transform="translate(61.783 71.069)" fill="none"
                stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_805" data-name="Line 805" x2="0.753" transform="translate(54.88 71.069)" fill="none"
                stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_806" data-name="Line 806" x2="0.753" transform="translate(47.977 71.069)" fill="none"
                stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_807" data-name="Line 807" x2="0.753" transform="translate(61.783 76.961)" fill="none"
                stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_808" data-name="Line 808" x2="0.753" transform="translate(54.88 76.961)" fill="none"
                stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_809" data-name="Line 809" x2="0.753" transform="translate(47.977 76.961)" fill="none"
                stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <g id="Path_6590" data-name="Path 6590" transform="translate(18.108 8.845)" fill="#fff"
                stroke-linejoin="bevel">
                <path
                    d="M 84.72797393798828 46.84925842285156 L 84.42950439453125 46.84925842285156 L 68.21011352539062 46.84925842285156 L 67.91164398193359 46.84925842285156 L 67.77000427246094 46.58654022216797 C 67.01308441162109 45.18259048461914 66.61299896240234 43.59224700927734 66.61299896240234 41.9874382019043 C 66.61299896240234 36.63473892211914 70.96774291992188 32.27999877929688 76.32044219970703 32.27999877929688 C 81.67314147949219 32.27999877929688 86.02788543701172 36.63473892211914 86.02788543701172 41.9874382019043 C 86.02788543701172 43.59072875976562 85.62736511230469 45.18106842041016 84.86961364746094 46.58654022216797 L 84.72797393798828 46.84925842285156 Z"
                    stroke="none" />
                <path
                    d="M 84.42950439453125 46.34925842285156 C 85.12917327880859 45.05150985717773 85.52788543701172 43.56581878662109 85.52788543701172 41.9874382019043 C 85.52788543701172 36.90309906005859 81.40605926513672 32.77999877929688 76.32044219970703 32.77999877929688 C 71.23482513427734 32.77999877929688 67.11299896240234 36.90309906005859 67.11299896240234 41.9874382019043 C 67.11299896240234 43.56581878662109 67.51045227050781 45.05150985717773 68.21011352539062 46.34925842285156 L 84.42950439453125 46.34925842285156 M 84.42950439453125 47.34925842285156 L 68.21011352539062 47.34925842285156 L 67.32989501953125 46.82381820678711 C 66.53379058837891 45.34719848632812 66.11299896240234 43.67480850219727 66.11299896240234 41.9874382019043 C 66.11299896240234 36.35903930664062 70.69203948974609 31.77999877929688 76.32044219970703 31.77999877929688 C 81.94884490966797 31.77999877929688 86.52788543701172 36.35903930664062 86.52788543701172 41.9874382019043 C 86.52788543701172 43.67329025268555 86.10665130615234 45.34568023681641 85.30972290039062 46.82381820678711 L 84.42950439453125 47.34925842285156 Z"
                    stroke="none" fill="#707070" />
            </g>
            <g id="Path_6591" data-name="Path 6591" transform="translate(18.108 8.845)" fill="none"
                stroke-linecap="round" stroke-linejoin="bevel">
                <path d="M84.43,46.349a9.207,9.207,0,1,0-16.219,0Z" stroke="none" />
                <path
                    d="M 84.42950439453125 46.34925842285156 C 85.12917327880859 45.05150985717773 85.52788543701172 43.56581878662109 85.52788543701172 41.9874382019043 C 85.52788543701172 36.90309906005859 81.40605926513672 32.77999877929688 76.32044219970703 32.77999877929688 C 71.23482513427734 32.77999877929688 67.11299896240234 36.90309906005859 67.11299896240234 41.9874382019043 C 67.11299896240234 43.56581878662109 67.51045227050781 45.05150985717773 68.21011352539062 46.34925842285156 L 84.42950439453125 46.34925842285156 M 84.42950439453125 48.04925918579102 L 68.21011352539062 48.04925918579102 L 66.71372985839844 47.15600967407227 C 65.86278533935547 45.5776481628418 65.41300201416016 43.79039001464844 65.41300201416016 41.9874382019043 C 65.41300201416016 39.0742301940918 66.54749298095703 36.33524703979492 68.60747528076172 34.27507019042969 C 70.66765594482422 32.21469879150391 73.40682983398438 31.07999801635742 76.32044219970703 31.07999801635742 C 79.23405456542969 31.07999801635742 81.97322845458984 32.21469879150391 84.03340911865234 34.27507019042969 C 86.09339141845703 36.33524703979492 87.22788238525391 39.0742301940918 87.22788238525391 41.9874382019043 C 87.22788238525391 43.78886795043945 86.77764892578125 45.57613754272461 85.92588043212891 47.1560173034668 L 84.42950439453125 48.04925918579102 Z"
                    stroke="none" fill="#1a1717" />
            </g>
            <line id="Line_810" data-name="Line 810" x1="2.842" y1="8.446" transform="translate(91.587 46.749)"
                fill="none" stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <g id="Path_6592" data-name="Path 6592" transform="translate(14.185 8.845)" fill="#fff"
                stroke-linejoin="bevel">
                <path
                    d="M 70.187255859375 46.84925842285156 L 69.88878631591797 46.84925842285156 L 53.66939163208008 46.84925842285156 L 53.37092208862305 46.84925842285156 L 53.22928237915039 46.58654022216797 C 52.47152328491211 45.18104934692383 52.07099151611328 43.5906982421875 52.07099151611328 41.9874382019043 C 52.07099151611328 36.63473892211914 56.42630386352539 32.27999877929688 61.77971267700195 32.27999877929688 C 67.13242340087891 32.27999877929688 71.48715972900391 36.63473892211914 71.48715972900391 41.9874382019043 C 71.48715972900391 43.5907096862793 71.08664703369141 45.18104934692383 70.32889556884766 46.58654022216797 L 70.187255859375 46.84925842285156 Z"
                    stroke="none" />
                <path
                    d="M 69.88878631591797 46.34925842285156 C 70.58843994140625 45.05150985717773 70.98715972900391 43.56581878662109 70.98715972900391 41.9874382019043 C 70.98715972900391 36.90309906005859 66.86407470703125 32.77999877929688 61.77971267700195 32.77999877929688 C 56.6941032409668 32.77999877929688 52.57099151611328 36.90309906005859 52.57099151611328 41.9874382019043 C 52.57099151611328 43.56581878662109 52.96972274780273 45.05150985717773 53.66939163208008 46.34925842285156 L 69.88878631591797 46.34925842285156 M 69.88878631591797 47.34925842285156 L 53.66939163208008 47.34925842285156 L 52.7891731262207 46.82381820678711 C 51.99223327636719 45.34565734863281 51.57099151611328 43.67325973510742 51.57099151611328 41.9874382019043 C 51.57099151611328 36.35903930664062 56.15060424804688 31.77999877929688 61.77971267700195 31.77999877929688 C 67.40812683105469 31.77999877929688 71.98715972900391 36.35903930664062 71.98715972900391 41.9874382019043 C 71.98715972900391 43.67326736450195 71.56593322753906 45.34565734863281 70.76900482177734 46.82381820678711 L 69.88878631591797 47.34925842285156 Z"
                    stroke="none" fill="#707070" />
            </g>
            <g id="Path_6593" data-name="Path 6593" transform="translate(14.185 8.845)" fill="none"
                stroke-linecap="round" stroke-linejoin="bevel">
                <path d="M69.889,46.349a9.208,9.208,0,1,0-16.219,0Z" stroke="none" />
                <path
                    d="M 69.88878631591797 46.34925842285156 C 70.58843994140625 45.05150985717773 70.98715972900391 43.56581878662109 70.98715972900391 41.9874382019043 C 70.98715972900391 36.90309906005859 66.86407470703125 32.77999877929688 61.77971267700195 32.77999877929688 C 56.6941032409668 32.77999877929688 52.57099151611328 36.90309906005859 52.57099151611328 41.9874382019043 C 52.57099151611328 43.56581878662109 52.96972274780273 45.05150985717773 53.66939163208008 46.34925842285156 L 69.88878631591797 46.34925842285156 M 69.88878631591797 48.04925918579102 L 53.66939163208008 48.04925918579102 L 52.17301177978516 47.1560173034668 C 51.32122421264648 45.57610702514648 50.87099456787109 43.78884887695312 50.87099456787109 41.9874382019043 C 50.87099456787109 35.97305679321289 55.76462173461914 31.07999801635742 61.77971267700195 31.07999801635742 C 67.79410552978516 31.07999801635742 72.68716430664062 35.97305679321289 72.68716430664062 41.9874382019043 C 72.68716430664062 43.78884887695312 72.23694610595703 45.57610702514648 71.38516235351562 47.15600967407227 L 69.88878631591797 48.04925918579102 Z"
                    stroke="none" fill="#1a1717" />
            </g>
            <line id="Line_811" data-name="Line 811" y1="4.961" x2="5.197" transform="translate(75.965 50.233)"
                fill="none" stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <g id="Path_6594" data-name="Path 6594" transform="translate(10.272 8.845)" fill="#fff"
                stroke-linejoin="bevel">
                <path
                    d="M 55.68524551391602 46.84925842285156 L 55.38677597045898 46.84925842285156 L 39.16738891601562 46.84925842285156 L 38.86891555786133 46.84925842285156 L 38.72727584838867 46.58654022216797 C 37.96952819824219 45.18103790283203 37.56899642944336 43.5906982421875 37.56899642944336 41.9874382019043 C 37.56899642944336 36.63473892211914 41.92373657226562 32.27999877929688 47.27644729614258 32.27999877929688 C 52.62915802001953 32.27999877929688 56.9838981628418 36.63473892211914 56.9838981628418 41.9874382019043 C 56.9838981628418 43.59225845336914 56.58380889892578 45.18259811401367 55.82688903808594 46.58654022216797 L 55.68524551391602 46.84925842285156 Z"
                    stroke="none" />
                <path
                    d="M 55.38677597045898 46.34925842285156 C 56.08644866943359 45.05150985717773 56.4838981628418 43.56581878662109 56.4838981628418 41.9874382019043 C 56.4838981628418 36.90309906005859 52.36206817626953 32.77999877929688 47.27644729614258 32.77999877929688 C 42.19082641601562 32.77999877929688 38.06899642944336 36.90309906005859 38.06899642944336 41.9874382019043 C 38.06899642944336 43.56581878662109 38.46772766113281 45.05150985717773 39.16738891601562 46.34925842285156 L 55.38677597045898 46.34925842285156 M 55.38677597045898 47.34925842285156 L 39.16738891601562 47.34925842285156 L 38.28716659545898 46.82381820678711 C 37.49022674560547 45.34564971923828 37.06899642944336 43.67324829101562 37.06899642944336 41.9874382019043 C 37.06899642944336 36.35903930664062 41.64803695678711 31.77999877929688 47.27644729614258 31.77999877929688 C 52.90485763549805 31.77999877929688 57.4838981628418 36.35903930664062 57.4838981628418 41.9874382019043 C 57.4838981628418 43.67481994628906 57.0630989074707 45.34720993041992 56.26699829101562 46.82381820678711 L 55.38677597045898 47.34925842285156 Z"
                    stroke="none" fill="#707070" />
            </g>
            <g id="Path_6595" data-name="Path 6595" transform="translate(10.272 8.845)" fill="none"
                stroke-linecap="round" stroke-linejoin="bevel">
                <path d="M55.387,46.349a9.208,9.208,0,1,0-16.219,0Z" stroke="none" />
                <path
                    d="M 55.38677597045898 46.34925842285156 C 56.08644866943359 45.05150985717773 56.4838981628418 43.56581878662109 56.4838981628418 41.9874382019043 C 56.4838981628418 36.90309906005859 52.36206817626953 32.77999877929688 47.27644729614258 32.77999877929688 C 42.19082641601562 32.77999877929688 38.06899642944336 36.90309906005859 38.06899642944336 41.9874382019043 C 38.06899642944336 43.56581878662109 38.46772766113281 45.05150985717773 39.16738891601562 46.34925842285156 L 55.38677597045898 46.34925842285156 M 55.38677597045898 48.04925918579102 L 39.16738891601562 48.04925918579102 L 37.6710090637207 47.15600967407227 C 36.81922912597656 45.57609939575195 36.36899566650391 43.78883743286133 36.36899566650391 41.9874382019043 C 36.36899566650391 39.0742301940918 37.50348663330078 36.33524703979492 39.5634765625 34.27507019042969 C 41.6236572265625 32.21469879150391 44.36283874511719 31.07999801635742 47.27644729614258 31.07999801635742 C 50.19005584716797 31.07999801635742 52.92923736572266 32.21469879150391 54.98941802978516 34.27507019042969 C 57.04940795898438 36.33524703979492 58.18389892578125 39.0742301940918 58.18389892578125 41.9874382019043 C 58.18389892578125 43.79039764404297 57.73410797119141 45.57766723632812 56.88315582275391 47.1560173034668 L 55.38677597045898 48.04925918579102 Z"
                    stroke="none" fill="#1a1717" />
            </g>
            <line id="Line_812" data-name="Line 812" y1="8.386" x2="3.768" transform="translate(57.549 46.808)"
                fill="none" stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_813" data-name="Line 813" x2="7.943" transform="translate(90.457 60.746)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_814" data-name="Line 814" x2="7.943" transform="translate(71.993 60.746)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_815" data-name="Line 815" x2="7.943" transform="translate(53.578 60.746)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_816" data-name="Line 816" y1="15.75" transform="translate(66.721 12.7)" fill="#fff" />
            <line id="Line_817" data-name="Line 817" y1="15.75" transform="translate(66.721 12.7)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_818" data-name="Line 818" x2="8.123" transform="translate(62.659 16.066)" fill="#fff" />
            <line id="Line_819" data-name="Line 819" x2="8.123" transform="translate(62.659 16.066)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_820" data-name="Line 820" x2="8.123" transform="translate(62.659 20.348)" fill="#fff" />
            <line id="Line_821" data-name="Line 821" x2="8.123" transform="translate(62.659 20.348)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_822" data-name="Line 822" y1="15.75" transform="translate(85.172 12.7)" fill="#fff" />
            <line id="Line_823" data-name="Line 823" y1="15.75" transform="translate(85.172 12.7)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_824" data-name="Line 824" x2="8.123" transform="translate(81.11 16.066)" fill="#fff" />
            <line id="Line_825" data-name="Line 825" x2="8.123" transform="translate(81.11 16.066)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_826" data-name="Line 826" x2="8.123" transform="translate(81.11 20.348)" fill="#fff" />
            <line id="Line_827" data-name="Line 827" x2="8.123" transform="translate(81.11 20.348)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <path id="Path_6596" data-name="Path 6596" d="M3.455,97.456,8.042.85H21.931l4.587,96.606"
                transform="translate(0.932 0.229)" fill="none" stroke="#1a1717" stroke-linecap="round"
                stroke-linejoin="bevel" stroke-width="1.7" />
            <line id="Line_828" data-name="Line 828" x2="20.16" y2="11.111" transform="translate(8.975 1.079)"
                fill="#fff" />
            <line id="Line_829" data-name="Line 829" x2="20.16" y2="11.111" transform="translate(8.975 1.079)"
                fill="none" stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_830" data-name="Line 830" x1="16.252" y2="34.227" transform="translate(6.985 8.94)"
                fill="#fff" />
            <line id="Line_831" data-name="Line 831" x1="16.252" y2="34.227" transform="translate(6.985 8.94)"
                fill="none" stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_832" data-name="Line 832" x2="19.695" y2="40.417" transform="translate(6.985 43.167)"
                fill="#fff" />
            <line id="Line_833" data-name="Line 833" x2="19.695" y2="40.417" transform="translate(6.985 43.167)"
                fill="none" stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_834" data-name="Line 834" x2="16.251" y2="34.227" transform="translate(8.602 8.94)"
                fill="#fff" />
            <line id="Line_835" data-name="Line 835" x2="16.251" y2="34.227" transform="translate(8.602 8.94)"
                fill="none" stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_836" data-name="Line 836" x1="19.695" y2="40.417" transform="translate(5.159 43.167)"
                fill="#fff" />
            <line id="Line_837" data-name="Line 837" x1="19.695" y2="40.417" transform="translate(5.159 43.167)"
                fill="none" stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <g id="Rectangle_1882" data-name="Rectangle 1882" transform="translate(24.143 94.892)" fill="#00b141"
                stroke="#707070" stroke-linejoin="bevel" stroke-width="1">
                <rect width="6.617" height="5.587" stroke="none" />
                <rect x="-0.5" y="-0.5" width="7.617" height="6.587" fill="none" />
            </g>
            <g id="Rectangle_1883" data-name="Rectangle 1883" transform="translate(24.143 94.892)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="bevel" stroke-width="1.7">
                <rect width="6.617" height="5.587" stroke="none" />
                <rect x="-0.85" y="-0.85" width="8.317" height="7.287" fill="none" />
            </g>
            <g id="Rectangle_1884" data-name="Rectangle 1884" transform="translate(1.079 94.892)" fill="#00b141"
                stroke="#707070" stroke-linejoin="bevel" stroke-width="1">
                <rect width="6.617" height="5.587" stroke="none" />
                <rect x="-0.5" y="-0.5" width="7.617" height="6.587" fill="none" />
            </g>
            <g id="Rectangle_1885" data-name="Rectangle 1885" transform="translate(1.079 94.892)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="bevel" stroke-width="1.7">
                <rect width="6.617" height="5.587" stroke="none" />
                <rect x="-0.85" y="-0.85" width="8.317" height="7.287" fill="none" />
            </g>
            <line id="Line_838" data-name="Line 838" y2="9.929" transform="translate(29.134 12.19)" fill="#fff" />
            <line id="Line_839" data-name="Line 839" y2="9.929" transform="translate(29.134 12.19)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_840" data-name="Line 840" x2="3.342" transform="translate(27.463 19.55)" fill="#fff" />
            <line id="Line_841" data-name="Line 841" x2="3.342" transform="translate(27.463 19.55)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_842" data-name="Line 842" x1="20.16" y2="11.111" transform="translate(2.751 1.079)"
                fill="#fff" />
            <line id="Line_843" data-name="Line 843" x1="20.16" y2="11.111" transform="translate(2.751 1.079)"
                fill="none" stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_844" data-name="Line 844" y2="9.929" transform="translate(2.75 12.19)" fill="#fff" />
            <line id="Line_845" data-name="Line 845" y2="9.929" transform="translate(2.75 12.19)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_846" data-name="Line 846" x1="3.342" transform="translate(1.08 19.55)" fill="#fff" />
            <line id="Line_847" data-name="Line 847" x1="3.342" transform="translate(1.08 19.55)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
        </g>
    </svg>
</template>

<script>
export default {

}
</script>

<style>

</style>