<template>
    <svg class="mt-3" id="Group_4042" data-name="Group 4042" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" width="54.831" height="66.081" viewBox="0 0 54.831 66.081">
        <defs>
            <clipPath id="clip-path">
                <rect id="Rectangle_1912" data-name="Rectangle 1912" width="54.831" height="66.081" fill="none"
                    stroke="#707070" stroke-linejoin="bevel" stroke-width="1" />
            </clipPath>
        </defs>
        <g id="Group_3316" data-name="Group 3316" transform="translate(0 0)" clip-path="url(#clip-path)">
            <path id="Path_6626" data-name="Path 6626"
                d="M42.7,4.879H22.775A3.123,3.123,0,0,0,19.653,8V59.831a3.124,3.124,0,0,0,3.122,3.124H42.7a3.123,3.123,0,0,0,3.122-3.124V8A3.122,3.122,0,0,0,42.7,4.879"
                transform="translate(7.815 1.94)" fill="#00b141" stroke="#707070" stroke-linejoin="bevel"
                stroke-width="1" />
            <g id="Rectangle_1906" data-name="Rectangle 1906" transform="translate(27.468 6.819)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="bevel" stroke-width="1.7">
                <path
                    d="M2.233,0H23.94a2.234,2.234,0,0,1,2.234,2.234V55.841a2.235,2.235,0,0,1-2.235,2.235H2.234A2.234,2.234,0,0,1,0,55.842V2.233A2.233,2.233,0,0,1,2.233,0Z"
                    stroke="none" />
                <path
                    d="M2.233-.85H23.94a3.084,3.084,0,0,1,3.084,3.084V55.841a3.085,3.085,0,0,1-3.085,3.085H2.234A3.084,3.084,0,0,1-.85,55.842V2.233A3.083,3.083,0,0,1,2.233-.85Z"
                    fill="none" />
            </g>
            <g id="Rectangle_1907" data-name="Rectangle 1907" transform="translate(34.365 1.188)" fill="#fff"
                stroke="#707070" stroke-linejoin="bevel" stroke-width="1">
                <rect width="12.38" height="5.63" stroke="none" />
                <rect x="-0.5" y="-0.5" width="13.38" height="6.63" fill="none" />
            </g>
            <g id="Rectangle_1908" data-name="Rectangle 1908" transform="translate(34.365 1.188)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="bevel" stroke-width="1.7">
                <rect width="12.38" height="5.63" stroke="none" />
                <rect x="-0.85" y="-0.85" width="14.08" height="7.33" fill="none" />
            </g>
            <line id="Line_867" data-name="Line 867" x2="26.175" transform="translate(27.468 19.145)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_868" data-name="Line 868" y1="3.15" transform="translate(40.556 11.628)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
            <line id="Line_869" data-name="Line 869" x1="3.149" transform="translate(38.98 13.203)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
            <g id="Path_6627" data-name="Path 6627" transform="translate(9.765 7.905)" fill="#fff"
                stroke-linejoin="bevel">
                <path
                    d="M 29.53094863891602 44.65982818603516 L 28.59915924072266 44.37854766845703 L 29.13488388061523 35.69991683959961 L 24.39248847961426 34.04416656494141 L 23.82172775268555 33.84488677978516 L 24.12454795837402 33.32165908813477 L 32.04913711547852 19.62904739379883 L 32.98093795776367 19.91030883789062 L 32.44522094726562 28.58752250671387 L 37.18896865844727 30.24327850341797 L 37.75981903076172 30.44252777099609 L 37.45693969726562 30.96581840515137 L 29.53094863891602 44.65982818603516 Z"
                    stroke="none" />
                <path
                    d="M 32.48188781738281 19.87950134277344 L 24.55729675292969 33.57211303710938 L 29.65726852416992 35.35269165039062 L 29.09820938110352 44.40936279296875 L 37.02420043945312 30.71535110473633 L 31.92282867431641 28.93476104736328 L 32.48188781738281 19.87950134277344 M 31.61638832092285 19.37859344482422 L 33.47998809814453 19.94112396240234 L 32.96760940551758 28.24027252197266 L 37.35373687744141 29.77121353149414 L 37.88967895507812 31.21629333496094 L 29.96368789672852 44.91030120849609 L 28.1001091003418 44.34775161743164 L 28.61249923706055 36.047119140625 L 24.22768020629883 34.51622009277344 L 23.69179916381836 33.07120132446289 L 31.61638832092285 19.37859344482422 Z"
                    stroke="none" fill="#707070" />
            </g>
            <g id="Path_6628" data-name="Path 6628" transform="translate(9.765 7.905)" fill="none"
                stroke-linecap="round" stroke-linejoin="bevel">
                <path d="M37.024,30.715l-5.1-1.781.559-9.055L24.557,33.572l5.1,1.781L29.1,44.409Z" stroke="none" />
                <path
                    d="M 32.48188781738281 19.87950134277344 L 24.55729675292969 33.57211303710938 L 29.65726852416992 35.35269165039062 L 29.09820938110352 44.40936279296875 L 37.02420043945312 30.71535110473633 L 31.92282867431641 28.93476104736328 L 32.48188781738281 19.87950134277344 M 31.01053810119629 19.02796173095703 L 34.17865753173828 19.98426055908203 L 33.69895935058594 27.75411987304688 L 37.58442687988281 29.11031341552734 L 38.49551773071289 31.56694030761719 L 30.56952857971191 45.26095199584961 L 27.40143966674805 44.30462265014648 L 27.88116073608398 36.53322219848633 L 23.9969367980957 35.17710113525391 L 23.0859489440918 32.72057342529297 L 31.01053810119629 19.02796173095703 Z"
                    stroke="none" fill="#1a1717" />
            </g>
            <path id="Path_6629" data-name="Path 6629"
                d="M23.9,4.879H3.973A3.122,3.122,0,0,0,.851,8V59.831a3.123,3.123,0,0,0,3.122,3.124H23.9a3.123,3.123,0,0,0,3.122-3.124V8A3.122,3.122,0,0,0,23.9,4.879"
                transform="translate(0.338 1.94)" fill="#00b141" stroke="#707070" stroke-linejoin="bevel"
                stroke-width="1" />
            <g id="Rectangle_1909" data-name="Rectangle 1909" transform="translate(1.189 6.819)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="bevel" stroke-width="1.7">
                <path
                    d="M2.233,0H23.939a2.233,2.233,0,0,1,2.233,2.233V55.841a2.235,2.235,0,0,1-2.235,2.235H2.235A2.235,2.235,0,0,1,0,55.841V2.233A2.233,2.233,0,0,1,2.233,0Z"
                    stroke="none" />
                <path
                    d="M2.233-.85H23.939a3.083,3.083,0,0,1,3.083,3.083V55.841a3.085,3.085,0,0,1-3.085,3.085H2.235A3.085,3.085,0,0,1-.85,55.841V2.233A3.083,3.083,0,0,1,2.233-.85Z"
                    fill="none" />
            </g>
            <g id="Rectangle_1910" data-name="Rectangle 1910" transform="translate(8.085 1.188)" fill="#fff"
                stroke="#707070" stroke-linejoin="bevel" stroke-width="1">
                <rect width="12.379" height="5.63" stroke="none" />
                <rect x="-0.5" y="-0.5" width="13.379" height="6.63" fill="none" />
            </g>
            <g id="Rectangle_1911" data-name="Rectangle 1911" transform="translate(8.085 1.188)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="bevel" stroke-width="1.7">
                <rect width="12.379" height="5.63" stroke="none" />
                <rect x="-0.85" y="-0.85" width="14.079" height="7.33" fill="none" />
            </g>
            <line id="Line_870" data-name="Line 870" x2="26.174" transform="translate(1.189 19.145)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_871" data-name="Line 871" y1="3.15" transform="translate(14.275 11.628)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
            <line id="Line_872" data-name="Line 872" x1="3.15" transform="translate(12.7 13.203)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
            <g id="Path_6630" data-name="Path 6630" transform="translate(2.288 7.905)" fill="#fff"
                stroke-linejoin="bevel">
                <path
                    d="M 10.72725105285645 44.65982818603516 L 9.79546070098877 44.37854766845703 L 10.33118534088135 35.69991683959961 L 5.588790893554688 34.04416656494141 L 5.018031120300293 33.84488677978516 L 5.320850849151611 33.32165908813477 L 13.24544143676758 19.62904739379883 L 14.17724132537842 19.91022872924805 L 13.64285755157471 28.5875301361084 L 18.38531112670898 30.24328804016113 L 18.95609092712402 30.44256782531738 L 18.65324020385742 30.96581840515137 L 10.72725105285645 44.65982818603516 Z"
                    stroke="none" />
                <path
                    d="M 13.67819213867188 19.87950134277344 L 5.75360107421875 33.57211303710938 L 10.85357189178467 35.35269165039062 L 10.29451179504395 44.40936279296875 L 18.22050094604492 30.71535110473633 L 13.12053203582764 28.93476104736328 L 13.67819213867188 19.87950134277344 M 12.8126916885376 19.37859344482422 L 14.67630195617676 19.94097137451172 L 14.16519546508789 28.24029922485352 L 18.55012130737305 29.771240234375 L 19.08598136901855 31.21629333496094 L 11.15999221801758 44.91030120849609 L 9.296411514282227 44.34775161743164 L 9.808802604675293 36.047119140625 L 5.423982620239258 34.51622009277344 L 4.888101577758789 33.07120132446289 L 12.8126916885376 19.37859344482422 Z"
                    stroke="none" fill="#707070" />
            </g>
            <g id="Path_6631" data-name="Path 6631" transform="translate(2.288 7.905)" fill="none"
                stroke-linecap="round" stroke-linejoin="bevel">
                <path d="M18.221,30.715l-5.1-1.781.558-9.055L5.754,33.572l5.1,1.781-.559,9.057Z" stroke="none" />
                <path
                    d="M 13.67819213867188 19.87950134277344 L 5.75360107421875 33.57211303710938 L 10.85357189178467 35.35269165039062 L 10.29451179504395 44.40936279296875 L 18.22050094604492 30.71535110473633 L 13.12053203582764 28.93476104736328 L 13.67819213867188 19.87950134277344 M 12.20684242248535 19.02796173095703 L 15.37498188018799 19.98399353027344 L 14.89646244049072 27.75417327880859 L 18.78086090087891 29.1103630065918 L 19.69182205200195 31.56694030761719 L 11.76583194732666 45.26095199584961 L 8.597742080688477 44.30462265014648 L 9.077463150024414 36.53322219848633 L 5.193241119384766 35.17710113525391 L 4.282251358032227 32.72057342529297 L 12.20684242248535 19.02796173095703 Z"
                    stroke="none" fill="#1a1717" />
            </g>
        </g>
    </svg>

</template>

<script>
export default {

}
</script>

<style>

</style>