<script setup>
import CardAval from "./Cart/CardAval.vue";
import CardTwo from "./Cart/CardTwo.vue";
import CardThree from "./Cart/CardThree.vue";
import CardFour from "./Cart/CardFour.vue";
import CardFive from "./Cart/CardFive.vue";
</script>
<template>
  <div class="dark:bg-black">
    <div
      class="
        grid
        space-y-4
        2xl:grid-cols-3
        xl:grid-cols-3
        lg:grid-cols-2
        grid-cols-1
        gap-3
      "
    >
      <CardAval />
      <CardTwo />
      <CardThree />
      <CardFour />
      <CardFive />
    </div>
  </div>
</template>
