<template>
    <svg class="mt-3" id="Group_4041" data-name="Group 4041" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" width="56.838" height="71.482" viewBox="0 0 56.838 71.482">
        <defs>
            <clipPath id="clip-path">
                <rect id="Rectangle_1905" data-name="Rectangle 1905" width="56.838" height="71.482" fill="none"
                    stroke="#707070" stroke-linejoin="bevel" stroke-width="1" />
            </clipPath>
        </defs>
        <g id="Group_3314" data-name="Group 3314" transform="translate(0 0)" clip-path="url(#clip-path)">
            <path id="Path_6621" data-name="Path 6621"
                d="M51.724,6.958H4.419A3.571,3.571,0,0,0,.851,10.529V63.958a3.571,3.571,0,0,0,3.568,3.571h47.3a3.572,3.572,0,0,0,3.571-3.571V10.529a3.572,3.572,0,0,0-3.571-3.571"
                transform="translate(0.338 2.767)" fill="#00b141" stroke="#707070" stroke-linejoin="bevel"
                stroke-width="1" />
            <g id="Rectangle_1902" data-name="Rectangle 1902" transform="translate(1.189 9.724)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="bevel" stroke-width="1.7">
                <rect width="54.443" height="60.571" rx="2.555" stroke="none" />
                <rect x="-0.85" y="-0.85" width="56.143" height="62.271" rx="3.405" fill="none" />
            </g>
            <g id="Path_6622" data-name="Path 6622" transform="translate(2.484 0.338)" fill="#fff"
                stroke-linejoin="bevel">
                <path
                    d="M 18.9166088104248 9.885449409484863 L 18.4166088104248 9.885449409484863 L 8.949028015136719 9.885449409484863 L 8.449028015136719 9.885449409484863 L 8.449028015136719 9.385449409484863 L 8.449028015136719 6.431899547576904 L 6.247398376464844 6.431899547576904 L 5.747398376464844 6.431899547576904 L 5.747398376464844 5.931899547576904 L 5.747398376464844 0.8501097559928894 L 5.747398376464844 0.350109726190567 L 6.247398376464844 0.350109726190567 L 21.1168384552002 0.350109726190567 L 21.6168384552002 0.350109726190567 L 21.6168384552002 0.8501097559928894 L 21.6168384552002 5.931899547576904 L 21.6168384552002 6.431899547576904 L 21.1168384552002 6.431899547576904 L 18.9166088104248 6.431899547576904 L 18.9166088104248 9.385449409484863 L 18.9166088104248 9.885449409484863 Z"
                    stroke="none" />
                <path
                    d="M 6.247398376464844 0.8501100540161133 L 6.247398376464844 5.931899547576904 L 8.949028015136719 5.931899547576904 L 8.949028015136719 9.385449409484863 L 18.4166088104248 9.385449409484863 L 18.4166088104248 5.931899547576904 L 21.1168384552002 5.931899547576904 L 21.1168384552002 0.8501100540161133 L 6.247398376464844 0.8501100540161133 M 6.247398376464844 -0.1498899459838867 L 21.1168384552002 -0.1498899459838867 L 22.1168384552002 0.8501100540161133 L 22.1168384552002 5.931899547576904 L 21.1168384552002 6.931900024414062 L 19.4166088104248 6.931900024414062 L 19.4166088104248 9.385449409484863 L 18.4166088104248 10.38544940948486 L 8.949028015136719 10.38544940948486 L 7.949028015136719 9.385449409484863 L 7.949028015136719 6.931900024414062 L 6.247398376464844 6.931900024414062 L 5.247398376464844 5.931899547576904 L 5.247398376464844 0.8501100540161133 L 6.247398376464844 -0.1498899459838867 Z"
                    stroke="none" fill="#707070" />
            </g>
            <g id="Path_6623" data-name="Path 6623" transform="translate(2.484 0.338)" fill="none"
                stroke-linecap="round" stroke-linejoin="bevel">
                <path d="M21.117.85H6.247V5.932h2.7V9.385h9.468V5.932h2.7Z" stroke="none" />
                <path
                    d="M 6.247398376464844 0.8501100540161133 L 6.247398376464844 5.931899547576904 L 8.949028015136719 5.931899547576904 L 8.949028015136719 9.385449409484863 L 18.4166088104248 9.385449409484863 L 18.4166088104248 5.931899547576904 L 21.1168384552002 5.931899547576904 L 21.1168384552002 0.8501100540161133 L 6.247398376464844 0.8501100540161133 M 6.247398376464844 -0.8498907089233398 L 21.1168384552002 -0.8498907089233398 L 22.81683731079102 0.8501100540161133 L 22.81683731079102 5.931899547576904 L 21.1168384552002 7.631899833679199 L 20.11660766601562 7.631899833679199 L 20.11660766601562 9.385449409484863 L 18.4166088104248 11.08545017242432 L 8.949028015136719 11.08545017242432 L 7.249029159545898 9.385449409484863 L 7.249029159545898 7.631899833679199 L 6.247398376464844 7.631899833679199 L 4.547397613525391 5.931899547576904 L 4.547397613525391 0.8501100540161133 L 6.247398376464844 -0.8498907089233398 Z"
                    stroke="none" fill="#1a1717" />
            </g>
            <g id="Rectangle_1903" data-name="Rectangle 1903" transform="translate(34.692 1.188)" fill="#fff"
                stroke="#707070" stroke-linejoin="bevel" stroke-width="1">
                <rect width="10.284" height="8.535" stroke="none" />
                <rect x="-0.5" y="-0.5" width="11.284" height="9.535" fill="none" />
            </g>
            <g id="Rectangle_1904" data-name="Rectangle 1904" transform="translate(34.692 1.188)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="bevel" stroke-width="1.7">
                <rect width="10.284" height="8.535" stroke="none" />
                <rect x="-0.85" y="-0.85" width="11.984" height="10.235" fill="none" />
            </g>
            <line id="Line_863" data-name="Line 863" x2="54.445" transform="translate(1.205 23.816)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_864" data-name="Line 864" y1="4.826" transform="translate(16.168 14.612)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_865" data-name="Line 865" x1="4.827" transform="translate(37.421 17.025)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <line id="Line_866" data-name="Line 866" x1="4.827" transform="translate(13.754 17.025)" fill="none"
                stroke="#1a1717" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" />
            <g id="Path_6624" data-name="Path 6624" transform="translate(6.055 8.758)" fill="#fff"
                stroke-linejoin="bevel">
                <path
                    d="M 20.85334777832031 50.31818008422852 L 19.92155838012695 50.03684997558594 L 20.53830146789551 40.06264114379883 L 15.06357860565186 38.15113830566406 L 14.49284839630127 37.95186996459961 L 14.79563808441162 37.42864990234375 L 23.8551082611084 21.77376937866211 L 24.78691864013672 22.05500030517578 L 24.1715202331543 32.02925872802734 L 29.64629936218262 33.94078063964844 L 30.21706771850586 34.14006042480469 L 29.91421890258789 34.66329956054688 L 20.85334777832031 50.31818008422852 Z"
                    stroke="none" />
                <path
                    d="M 24.28786849975586 22.02420043945312 L 15.2283992767334 37.6790885925293 L 21.06072807312012 39.71545028686523 L 20.42060852050781 50.06771087646484 L 29.48147964477539 34.4128303527832 L 23.64914894104004 32.37646865844727 L 24.28786849975586 22.02420043945312 M 23.42234802246094 21.52331924438477 L 25.28596878051758 22.08578109741211 L 24.69389343261719 31.68203735351562 L 29.81111907958984 33.46871948242188 L 30.34696960449219 34.91376113891602 L 21.28609848022461 50.56864166259766 L 19.42251777648926 50.00598907470703 L 20.01588439941406 40.40984344482422 L 14.89875793457031 38.62319946289062 L 14.36287879943848 37.1782112121582 L 23.42234802246094 21.52331924438477 Z"
                    stroke="none" fill="#707070" />
            </g>
            <g id="Path_6625" data-name="Path 6625" transform="translate(6.055 8.758)" fill="none"
                stroke-linecap="round" stroke-linejoin="bevel">
                <path d="M29.481,34.413l-5.832-2.036.639-10.352L15.228,37.679l5.832,2.036-.64,10.352Z" stroke="none" />
                <path
                    d="M 24.28786849975586 22.02420043945312 L 15.2283992767334 37.6790885925293 L 21.06072807312012 39.71545028686523 L 20.42060852050781 50.06771087646484 L 29.48147964477539 34.4128303527832 L 23.64914894104004 32.37646865844727 L 24.28786849975586 22.02420043945312 M 22.81648826599121 21.17271041870117 L 25.98463821411133 22.12889099121094 L 25.42521476745605 31.19594573974609 L 30.0418586730957 32.8078498840332 L 30.95280838012695 35.26441955566406 L 21.89193916320801 50.9193000793457 L 18.72384834289551 49.96279144287109 L 19.28448867797852 40.89591217041016 L 14.66801834106445 39.2840690612793 L 13.75701904296875 36.82759857177734 L 22.81648826599121 21.17271041870117 Z"
                    stroke="none" fill="#1a1717" />
            </g>
        </g>
    </svg>
</template>

<script>
export default {

}
</script>

<style>

</style>