<template>
  <div class="navbar bg-black">
    <div class="flex-1">
      <router-link to="/" class="btn btn-ghost text-white normal-case text-xl"
        >mobinnet</router-link
      >
    </div>
    <div class="flex-none">
      <input
        type="checkbox"
        class="toggle toggle-secondary dark:bg-dark"
        checked
        @click="toggleDark()"
      />
    </div>
  </div>
</template>

<script setup>
import { useDark, useToggle } from "@vueuse/core";
const isDark = useDark({});

const toggleDark = useToggle(isDark);
</script>

<style>
html.dark {
  color-scheme: dark;
}
</style>