<template>
  <div
    class="
      card
      w-96
      dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700
      shadow-xl
    "
  >
    <figure
      class="dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
    >
      <AksThree />
    </figure>
    <div
      class="
        card-body
        max-w-sm
        mt-3
        p-6
        border border-gray-200
        rounded-lg
        shadow-md
        hover:bg-gray-100
        dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700
      "
    >
      <div
        class="text-center text-green-400 mt-4 font-normal dark:text-green-400"
      >
        Startup
      </div>
      <div class="flex px-10 justify-between">
        <div
          class="
            bg-white
            hover:bg-gray-100
            dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700
          "
        >
          <h2 class="card-title font-normal text-gray-700 dark:text-gray-400">
            ریال/ماهانه
          </h2>
          <p class="font-normal text-gray-700 dark:text-gray-400"></p>
        </div>
        <div
          class="
            bg-white
            hover:bg-gray-100
            dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700
          "
        >
          <h2 class="card-title font-normal text-gray-700 dark:text-gray-400">
            648/670
          </h2>
          <p class="font-normal text-gray-700 dark:text-gray-400"></p>
        </div>
      </div>
      <div class="flex px-10 justify-between">
        <div
          class="
            bg-white
            hover:bg-gray-100
            dark:bg-gray-800 dark:border-gray-700
            hover:text-black
            dark:hover:bg-gray-700
          "
        >
          <div class="flex">
            <h2 class="card-title font-normal text-gray-700 dark:text-gray-400">
              اگیگ رم
            </h2>
            <p class="font-normal text-gray-700 dark:text-gray-400"></p>
            <ram />
          </div>
        </div>
        <div
          class="
            hover:bg-gray-100
            dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700
          "
        >
          <div class="flex">
            <h2 class="card-title font-normal text-gray-700 dark:text-gray-400">
              ترافیک
            </h2>
            <p class="font-normal text-gray-700 dark:text-gray-400"></p>
            <terafic />
          </div>
        </div>
      </div>
      <div class="flex px-10 justify-between">
        <div
          class="
            hover:bg-gray-100
            dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700
          "
        >
          <div class="flex">
            <h2 class="card-title font-normal text-gray-700 dark:text-gray-400">
              100گیگ ssd
            </h2>
            <p class="font-normal text-gray-700 dark:text-gray-400"></p>
            <ssd />
          </div>
        </div>
        <div
          class="
            bg-white
            hover:bg-gray-100
            dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700
          "
        >
          <div class="flex">
            <h2 class="card-title font-normal text-gray-700 dark:text-gray-400">
              4cpu هسته
            </h2>
            <p class="font-normal text-gray-700 dark:text-gray-400"></p>
            <cpu />
          </div>
        </div>
      </div>
      <select
        class="
          select
          mt-3
          bg-white
          font-normal
          text-gray-700
          dark:text-gray-400
          hover:bg-gray-100
          dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700
          w-full
          ml-5
          max-w-xs
        "
      >
        <option disabled selected>انواع مودم</option>
        <option>یک ماه</option>
        <option>سه ماه</option>
        <option>پنج ماه</option>
        <option>هفت ماه</option>
        <option>نه ماه</option>
      </select>
      <div class="mt-3 card-actions flex items-center justify-center">
        <router-link
          to="/spinnerThree"
          class="btn w-full btn-success text-white"
          >انتخاب</router-link
        >
      </div>
    </div>
  </div>
</template>

<script setup>
import AksThree from "../img/AksThree.vue";
import ram from "../svg/ram.vue";
import ssd from "../svg/ssd.vue";
import cpu from "../svg/cpu.vue";
import terafic from "../svg/terafic.vue";
</script>

<style>
</style>